{% extends "base_bootstrap.html" %}

{% block content %}

{% if breed_list %}
    <h1>List of breed:</h1>
    <ul>
        {% for breed in breed_list %}
        <li>
            {{ breed.name}} <br>
            <a href="{% url 'cats:update_breed' breed.id %}">Update</a> |
            <a href="{% url 'cats:delete_breed' breed.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>

{% else %}
    <h1>There is no breed.</h1>

{% endif %}

<a href="{% url 'cats:create_breed' %}">Create new breed</a><br>
<a href="{% url 'cats:breed_list' %}">View breeds</a><br>

<a href="{% url 'cats:main_cats' %}">View cats</a>
{% endblock %}